
a {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding:0 5%;
}

.activeLink {
    background-color: white;
    color:var(--primary-color);
}

table {
    position:relative;
    border-radius: 10%;
    border: 1px solid var(--primary-color);
    padding:auto;
    margin:1% auto;
    
    border-spacing: 0.5rem 0;
    
}



td{
    padding-right: 0.5rem;
    border-right: 1px solid white;
}

td:last-of-type{
    border-right: none;
}