<div>
    <nav>
        <!-- <ul>
            <li><a routerLink="./home">Home</a></li>
            <li><a routerLink="./chats">Chats</a></li>
        </ul> -->
        <table>
            <tr>
               <td><a routerLink="./home" routerLinkActive="activeLink">Home</a></td>
               <td><a routerLink="./chats" routerLinkActive="activeLink">Chats</a></td>
               <td><a routerLink="./tasks" routerLinkActive="activeLink">Tasks</a></td>
               <td><a (click)="logOut()" routerLink="#">Logout</a></td>
            </tr>
          </table>
    </nav>
     
    <div>