

.search{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: space-evenly;
    gap:10%;
}


.search > *{
    color:white;
    display: grid;
}

.searchtools{
    
    grid-template-columns:5fr 3fr;
    gap:2%;
    justify-content: center;

}

.searchtools > input{
    padding:2.5% 5% 5% 5%;
    /* padding-left:2%; */
}

#search, .addBtn{
background-color: var(--primary-color);
    border-radius: 5px;
    color:black;
    border:2px solid gray;
font-weight: 500;
font-size: 1rem;
}

#search{
    padding:2.5% 10%;
    color: white;
}

#search:active{
    background-color: darkblue;
    color:white;
}

.filter{
    grid-template-rows: 1fr;
    align-items: baseline;
    gap:10%;
}

#filterbtn{
    color: white;
   
    border: 1px solid black;
    padding: 1.5% 0;
}

fieldset{
    border:none;
    display:flex;
    flex-direction: row;
}

.filterForm{
    background-color: white;
    
    transform-origin: 0% 0%;
   
    display: flex;
    
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid darkgray;
    border-radius: 2rem;

}

.open{
    background-color: grey;
}

.closed{
    background-color: var(--primary-color);
}
