.taskitem{
    /* border-top:1px solid grey; */
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-height:3rem;
    background-color: var(--primary);
    gap: 5%;
    color:var(--text);
}
div{
    margin: 0;
}


.task{
    display: flex;
    width:40%;
    
    max-width: 60%;
    text-align: left;
    padding: 5% 0;
    
}

.options{
}

.options button{
    gap:20%;
    
    border: 1px solid white;
    border-radius: 10px;

}
